<section class="participant @@class">
    <div class="container">
        <div class="participant-inner">
            @@if (context.head) {
            <h3>@@head</h3>
            }
            @@if (context.text) {
            <p>@@text</p>
            }
            @@if (context.link) {
            <a href="@@link" class="button-1 blue">@@linkname</a>
            }
        </div>
        @@if (context.image) {
        <picture>
            <img src="@@image" alt="">
        </picture>
        }
    </div>
</section>