<div class="row justify-content-center pb-5">
    <div class="col-12 col-xl-12 page-text d-flex flex-column align-items-center max-width-800">
        @@if (context.suphead) {
        <h3 class="head-green">@@suphead</h3>
        }
        @@if (context.head) {
        <h2 class="head">@@head</h2>
        }
        @@if (context.text1) {
        <p class="text-center">@@text1</p>
        }
        @@if (context.text2) {
        <p class="text-center">@@text2</p>
        }
        @@if (context.text3) {
        <p class="text-center">@@text3</p>
        }
        @@if (context.text4) {
        <p class="text-center">@@text4</p>
        }
        @@if (context.text5) {
        <p class="text-center">@@text5</p>
        }
        @@if (context.text6) {
        <p class="text-center">@@text6</p>
        }
        @@if (context.text7) {
        <p class="text-center">@@text7</p>
        }
        @@if (context.text8) {
        <p class="text-center">@@text8</p>
        }
        @@if (context.text9) {
        <p class="text-center">@@text9</p>
        }
        @@if (context.text10) {
        <p class="text-center">@@text10</p>
        }

    </div>
</div>