:root {
  --fontSize: 20px;
  --fontSize-l: 30px;
  --fontSize-xl: 40px;
  --shadow: 0px 14px 20px rgba(12, 14, 25, 0.04);
  --colorPrimary: #004fff;
  --colorDarkBlue: #0238b3;
  --colorSecondary: #293150;
  --colorDark: #1a2139;
  --colorRed: #fd4040;
  --colorDarkRed: #e02c2c;
  --colorYellow: #ffc044;
  --colorDarkYellow: #f6a72e;
  --colorGreen: #a7d832;
  --colorDarkGreen: #8dbb1e;
  --colorPurple: #714aff;
  --colorDarkPurple: #603aeb;
  --colorGrey: #959bb7;
  --colorGreyDark: #7b7e92;
  --colorGreyLight: #c9ccdb;
  --colorGreyLight2: #e3e5ec;
  --colorBright: #f4f5f7;
  --colorBright2: #f8f8fa;
  --colorBg: #f2f2f2;
  --fontFamily: "Rubik", sans-serif;
  --fontIcon: "bootstrap-icons" !important;
  --container: 100%;
  // --indexcar:100%;
  @media (min-width: 576px) {
    --container: 540px;
  }
  @media (min-width: 768px) {
    --container: 720px;
  }
  @media (min-width: 992px) {
    --container: 960px;
  }
  @media (min-width: 1200px) {
    --container: 1140px;
  }
  --app-height: 100vh;
}

button {
  border: none;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
  &:hover {
    color: var(--colorSecondary);
  }
}

img {
  max-width: 100%;
}
i[class*="icon-"] {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  &::before {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}
@mixin placeholder($color) {
  &::-webkit-input-placeholder {
    color: $color;
  }

  &:-moz-placeholder {
    color: $color;
  }

  &::-moz-placeholder {
    color: $color;
  }

  &:-ms-input-placeholder {
    color: $color;
  }
}
